.tv {
    height: 300px;
    width: 100%;
    /* background-image: url(../img/tela.jpg); */
    background-size: cover;
    border: solid 2px #222;
    margin: 20px;
}

.tv-on {
    background-image: url(../img/tela.jpg);
    background-size: cover;
    background-position: center;
}

.tv-off {
    background: none;
}

.format-text {
    font-size: 16px;
    color: #f11;
    background-color: #222;
}